{% extends 'blog/index.html' %}

{% block section %}
    <div class="box">
        <h1 class="title is-size-5 has-text-weight-bold">
            {{ post.title }}
        </h1>
        <div class="is-size-7 has-text-grey-light pt-1 pb-1">
            <span class="mr-3">Author: {{ post.owner }}</span>
            <span>Publish Date: {{ post.add_date }}</span>
            <span>Post Views: {{ post.pv }}</span>
        </div>
        <div class="content" style="word-break: break-word; overflow-wrap: break-word; white-space: normal;">
            {{ post.content|safe }}
        </div>
    </div>


    <div class="box">
        <div class="level">
            <div class="level-left">
                {% if prev_post %}
                    <span> Previous Article:</span>
                    <a href="{% url 'blog:post_detail' prev_post.id %}" class="level-item">{{ prev_post.title }}</a>
                {% else %}
                    <span class="has-text-danger-dark is-size-7">None</span>
                {% endif %}


            </div>
            <div class="level-right">
                {% if next_post %}
                    <span> Next Article:</span>
                    <a href="{% url 'blog:post_detail' next_post.id %}" class="level-item">{{ next_post.title }}</a>
                {% else %}
                    <span class="has-text-danger-dark is-size-7">None</span>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}